.dropbtn {
    padding: 5px;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    margin: 0;
}

.dropbtn:hover, .dropbtn:focus {
    border: 1px solid var(--secondary-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0 0 15px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-height: 300px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown span:hover {
    background-color: #ddd;
    cursor: pointer;
}

.show {
    display: block;
}

.state {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
